<h1>Editing division</h1>

<%= render "form", division: @division %>

<br>

<div>
  <%= link_to "Show this division", @division, class:"btn btn-secondary" %> 
  <%= link_to "Back to divisions", divisions_path, class:"btn btn-dark" %>
</div>
