<h1>Editing goal</h1>

<%= render "form", goal: @goal %>

<br>

<div>
  <%= link_to "Show this goal", @goal, class:"btn btn-secondary"%> 
  <%= link_to "Back to goals", goals_path, class:"btn btn-dark" %>
</div>
